node_modules/

# Node

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
staticfiles/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Build
dist/
build/
